/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "~ngx-bootstrap/datepicker/bs-datepicker";

//texts ----------------
.text-sm {
    font-size: 12px !important;
}

.text-smd {
    font-size: 16px !important;
}

.text-md {
    font-size: 24px !important;
}

.text-lg {
    font-size: 30px !important;
}

.text-xlg {
    font-size: 3.3rem !important;
}

.text-link {
    cursor: pointer;
}

.text-semibold {
    font-weight: 300;
}

.text-bold {
    font-weight: 500;
}

.text-matte {
    color: #323334;
}

.text-grey {
    color: #747575;
}

.text-violet {
    color: #9E6DF7;
}

a.text-link:hover, a.text-link:visited, a.text-link:active, a.text-link:link {
    text-decoration: none;
}

.fredoka {
    font-family: 'Fredoka One', cursive !important;
}

//z-index ----
.overlay {
    z-index: 1000;
}

.underlay {
    z-index: -1000;
}


//backgrounds
.bg-matte {
    background-color: #323334!important;
}

.bg-trans {
    background-color: rgba(0, 0, 0, 0.40);
}

.bg-none {
    background-color: rgba(255, 255, 255, 0);
}
.bg-violet{
    background-color: #9E6DF7;
}

.bg-grey{
    background-color: #a5a4a5;
}


//Scrollbar------
  ::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.25rem;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: gray;
  }
  
  ::-webkit-scrollbar-track {
    background-color: white;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: black;
  }

  .employee-modal{
    min-width: 60% !important;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .login-logo {
    margin-top: 18vh;
    margin-bottom: 20px;
}



.img-login {
    height: 150px;
    opacity: 0.75;
    object-fit: cover;
}

.login-card {
    width: 85%;
    font-size: small;
}

.center-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical-center {
    display: flex;
    align-items: center;
}